// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  .container {
    position: relative;
    z-index: 2;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
}
.display-3 {
  font-size: 5rem;
}
.lead {
  margin: 1.2rem;
}
.welcom{
  .btn {
    -webkit-box-shadow: 0.3rem 0.8rem 0.8rem 0.3rem rgba(0, 0, 0, 0.9) !important;
    box-shadow: 0.3rem 0.8rem 0.8rem 0.3rem rgba(0, 0, 0, 0.9) !important;
    padding: 1.25rem 2rem;
    margin: 2rem 0;
    font-family: 'Varela Round';
    text-transform: uppercase;
    letter-spacing: .65rem;
    border: 0;
  }
  .btn-primary {
    background-color: transparent;
    &:hover {
      background-color: #4f837f;
    }
    &:focus {
      background-color: #4f837f;
      color: white;
    }
  }
}
.form-signin {
  .btn-primary {
    background-color: #4f837f;
    &:hover {
      background-color: #4f837f;
    }
  }
}
#kek {
  margin-top: 150px;
  margin-left: 150px;
}

.bg-indigo {
  background-color: indigo;
}

.navbar-dark{
  height: 70px;
}