#profile {
  margin-top: 140px;
}

#edit_button {
  padding: 9px 45px;
}

#profile-info-head {
  background-color: #0057fa;
  color: #F7F7F7;
  margin-bottom: 0px;
  padding: .7rem 2rem;
}

.bloktron {
  background-color: #e9ecef;
  border-radius: 0.3rem;
  h4 {
    margin: 20px;
  }
}

#profile-head-edit {
  background-color: #0057fa;
  color: #F7F7F7;
  padding: .7rem 2rem;
}

#profile-info-edit {
  padding: 2rem 1.5rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.bg-colore {
  background-color: #e9ecef;
}

.max-w {
  max-width: 800px;
  margin: 0 auto;
}

.profile-avatar {
  margin-right: 100px;
}

#profile-info {
  padding: 2rem 1.5rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

@media screen and (max-width: 770px) {
  .bg-colore {
    flex-direction: column-reverse;
  }
  .profile-avatar {
    margin: 50px auto 20px auto;
  }
}
